<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz">

	<!-- mockup : url기반 API 특정 명세 저장(가칭) -->
	<insert id="apiLogInsert" parameterType="map">
<!-- 			INSERT INTO POOM_서버API요청응답명세로그상세_테이블 ( -->
<!-- 				  SEQ -->
<!-- 				, API_URL -->
<!-- 				, 요청자등등 -->
<!-- 			) VALUES ( -->
<!-- 				  #{seq} -->
<!-- 				, #{apiUrl} -->
<!-- 				, #{sBox.userId} -->
<!-- 			) -->
			INSERT INTO TB_MEM (
				  MEM_ID
			) VALUES (
				  #{memId}
			)
	</insert>
</mapper>

